body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1{
    font-family: Lobster; 
    color: white;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 15px;
    font-size: 3rem;
}

p{
    color: white;
    text-align: center;
}

.buttons{
    color: white;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% auto;
    padding-left: 20%;
    padding-right: 20%;
    max-width: 360px;
}

.content{
    background-color:#283e50 ;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.btn{
    color: white;
    text-align: center;
    text-decoration: none;
}

.rules{
    background-color: #1fcca4;
    border-bottom: black solid 1px;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.rules:hover{
    background-color: #1cbb96;
}
.start{
    background-color: #0197f6;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.start:hover{
    background-color: #0090e9;
}

/* styly pro hra.html */



.backsheet{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    max-width: 80vmin;
    margin: 1rem auto 2rem auto;
  }

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.4rem;
    padding: 0%;
  }

.menu--left,
.menu--right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: white;
  font-size: 30px; 
  font-style: normal;
  align-self:baseline;
}

.home {
    display: inline-block;
    height: 1rem;
    background-color: #1fcca4; /* Barva pozadí tlačítka */
    padding: 10px; /* Odsazení tlačítka */
    text-decoration: none; /* Odstranění podtržení u odkazu */
    border-radius: 15%;
}

.home:hover {
    background-color: #1cbb96; /* Barva pozadí tlačítka při najetí myší */
}

.home:focus {
    cursor: pointer; 
  }


.restart {
    display: inline-block;
    height: 1rem;
    background-color: #0197f6; /* Barva pozadí tlačítka */
    padding: 10px; /* Odsazení tlačítka */
    text-decoration: none; /* Odstranění podtržení u odkazu */
    border-radius: 15%;
}

.restart:hover {
    background-color: #0090e9; /* Barva pozadí tlačítka při najetí myší */
}

.restart:focus {
    cursor: pointer; 
  }




.play__board{
    display: flex;
    flex-wrap: wrap;
    border: 1.5px solid #283e50;
}

.play__square {
    width: 10%;
    aspect-ratio: 1 / 1;
    opacity: 0.5;
    border: 1.5px solid #283e50;
}


.play__square:hover,
.play__square:focus {
    opacity: 0.45;
    cursor: pointer;
    border: 1.5px solid #283e50
  }


/* styly pro hra.js */

.board__field--circle{
    background-image: url(circle.svg);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    filter: invert(100%);
    animation: enlarge 0.15s;
}

.board__field--cross{
    background-image: url(cross.svg);
    background-position: center;
    background-size: 70%; 
    background-repeat: no-repeat;
    filter: invert(100%);
    animation: enlarge 0.15s;
}

.play__square:disabled {
    opacity: 0.7;
    cursor: default;
  }

@keyframes enlarge{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.5);
    }
}

