body {
    background-image: linear-gradient(#615dad, #ffc8da);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    font-family: Lobster;
    
}

